@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --purple-dark: #231942;
  --purple-light: #5e548e;
  --purple-pink: #9f86c0;
  --pink-w: #ffd6ff;
  --orange-prueba: #ffa200;
  --primary-text-color: #ffd000;
  --primary-button: #ffd966;
  --purple-very-dark: #3c1642;
  --complementary-color: #1c4216;
  --blue-dark: #001524;
  --afor-dig: #110714;
  --font-verymax: 2.4rem;
  --font-max: 2rem;
  --font-med: 1.8rem;
  --font-sm: 1.6rem;
}

* {
  box-sizing: border-box;
  font-family: "Rubik", serif;
  margin: 0;
  padding: 0;
  text-decoration: none;

}
html {
  background-color: var(--blue-dark);
  font-size: 62.5%;
}

.container {
  max-width: 420px;
  /* min-width: 320px; */
  margin: 0 auto;
  /* padding: 80px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

h1 {
  font-size: 4rem;
  color: var(--pink-w);
  padding: 40px;
}


.container_counter > span {
  font-size: 3.6rem;
  color: var(--primary-button);
  font-weight: bold;
}
.negative {
  color: coral;
}
/* cubic-bezier(.17,.67,.78,.52) */

.container_btns {
  padding: 20px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.btn {
  background-color: var(--orange-prueba);
  box-shadow: 6px 6px 5px 0px rgba(255,214,255,0.25);
  font-size: 2.2rem;
  border-radius: 30px;
  padding: 10px;
  margin: 20px;
}

.btn:hover {
  transform: scale(1.1);

}


/*responsive*/
@media (max-width: 400px) {
  .container_btns {
    flex-direction: column;
    /* justify-self: center; */
  }
}
