body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.numbers {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  margin: 10px 0;
}

.btns {
  padding-top: 20px;
}

.result {
  padding-top: 20px;
}
.btn {
  padding: 5px 10px;
  margin: 20px;
}
